<a href="https://colab.research.google.com/github/ssawant/CNN/blob/main/Neural_Network_Models_for_Combined_Classification_and_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
print(tf.__version__)

2.4.1

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/abalone.csv'

In [4]:
df = pd.read_csv(url, header=None)
df.shape

(4177, 9)

In [6]:
df.sample(5)

      0      1      2      3       4       5       6      7   8
4077  I  0.550  0.435  0.125  0.7410  0.3480  0.1585  0.206   9
3851  M  0.560  0.440  0.130  0.8255  0.2425  0.2020  0.285  10
277   M  0.610  0.500  0.240  1.6420  0.5320  0.3345  0.690  18
2105  M  0.585  0.480  0.185  1.0400  0.4340  0.2650  0.285  10
1706  M  0.645  0.505  0.150  1.1605  0.5190  0.2615  0.335  10

In [70]:
ds = df.values

In [73]:
X, y = ds[:,1:-1], ds[:,-1]
X, y = X.astype('float'), y.astype('float')

## Regression Model

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [26]:
# split the data into train test split
X_train, X_test, y_train , y_test = train_test_split(X, y, test_size=0.33, random_state=1)

In [32]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

n_features = X.shape[1]

In [34]:
# define model

model = Sequential()
model.add(Dense(20, activation=tf.nn.relu, kernel_initializer=tf.initializers.he_uniform, input_dim=n_features))
model.add(Dense(10, activation=tf.nn.relu, kernel_initializer=tf.initializers.he_uniform))
model.add(Dense(1, activation='linear'))

In [35]:
# complie the model
model.compile(optimizer='adam', loss='mse')

In [ ]:
# fit the model on dataset
model.fit(X_train, y_train, epochs=150, batch_size=32, verbose=2)

In [45]:
# evaluate on test data
yhat = model.predict(X_test)
error = mean_absolute_error(y_test, yhat)
print(f"MEA: {error:.3f}")

MEA: 1.514

## Classification Model

In [104]:
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

import numpy as np

In [99]:
# load dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/abalone.csv'
dataframe = pd.read_csv(url, header=None)
dataset = dataframe.values
# split into input (X) and output (y) variables
X, y = dataset[:, 1:-1], dataset[:, -1]
X, y = X.astype('float'), y.astype('float')
n_features = X.shape[1]
# encode strings to integer
y = LabelEncoder().fit_transform(y)
n_class = len(np.unique(y))
# split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=1)
# define the keras model
model = Sequential()
model.add(Dense(20, input_dim=n_features, activation='relu', kernel_initializer='he_normal'))
model.add(Dense(10, activation='relu', kernel_initializer='he_normal'))
model.add(Dense(n_class, activation='softmax'))
# compile the keras model
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam')

In [ ]:
# fit the keras model on the dataset
model.fit(X_train, y_train, epochs=150, batch_size=32, verbose=2)

In [105]:
# evaluate on test set
yhat = model.predict(X_test)
yhat = tf.argmax(yhat, axis=-1)

acc = accuracy_score(y_test, yhat)
print('Accuracy: %.3f' % acc)

Accuracy: 0.276